*{
    margin: 0px; /* MARGEN EXTERNO */
    padding: 0px; /* MARGEN INTERNO */
}
body {
    font-family: 'Quicksand', sans-serif;
    color:rgb(14, 68, 168);
    background-color: darksalmon;
}
header {
    position: sticky;
    top: 1px;
}

/* BARRA NAVEGACION */
.nav {
    background-color: rgb(250, 249, 245);
    display: flex;
}
/* LOGO ROMI PASTELERIA */
.nav__logo { 
    width: 50px;
    height: 50px;
}
/* UL DE NAV */
.nav__ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 2;
    justify-content: end;
}
/* ITEMS DE NAV */
.nav__items { 
    font-size: 25px;
    padding: 10px;
}
/*  DE ITEMS */
.nav__items a {
    color:rgb(199, 82, 214);
    text-decoration: none;
}

/* MAIN - INDEX */
.principal__principal {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.principal__titulo {
    grid-column: 2/3;
    grid-row: 1/2;
}
.principal__subtitulo {
    grid-colum: 2/3;
    grid-row: 1/2;
}
.principal__boton {
    grid-column: 2/3;
    grid-row: 2/3;
}

.principal__videos {

}

.principal__tarjeta {


}
.principal__parrafo{
    font-family: 'Lato', sans-serif;
    color:rgb(14, 68, 168) ;
}

.principal__tarjeta--videos {
    width: 400px;
    height: 400px;
}
.boton {
    grid-column: 2/8;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton button {
    width: 500px;
    height: 70px;
    font-size: 32px;
}
button {
    background-color: rgb(38, 143, 143);
    border: rgb(38, 143, 143); solid 10px;
    border-radius: 15px;
    font-size: 32px;
    color:rgb(250, 249, 245); 
    padding: 10px;
}

h3 {
    font-size: 20px;
}
/* FORMATO FOTOS GALERIA PRODUCTOS */
.productos { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 45px;
}
.productos__imagen { /* TAMAÑO FOTOS PRODUCTOS */
    width: 300px;
    height: 300px;
}
.resenas-cliente {
    font-family: 'Dancing Script', cursive;
    padding: 16px 16px 16px 16px;
    font-size: x-large;
}
.nosotros__imagen {
    width: 376px;
    height: 470px;
}
.nosotros {
    display: inline-flex;
    font-size: x-large;
    font-style: oblique;
}

.personaliza__form {
    font-size: medium;
}

label {
    font-size: 110%;
}
/* FOOTER */
footer {
    display: grid;
    grid-template-areas: "navegacion mapa redes"
                        "navegacion mapa derechos";
    background-color: rgb(250, 249, 245);
    padding: 16px;
}
.footer__navegacion {
    grid-area: navegacion;
}
.footer___mapa {
    grid-area: mapa;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer__redes {
    grid-area: redes;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.footer__derechos {
    grid-area: derechos;
    display: flex;
    justify-content: flex-start;

}
.footer__iconos {
    width: 70px;
    height: 70px;
    margin: 12px;
}
.footer__navegacion ul li {
    list-style: none;
    font-size: 16px;
    padding-bottom: 12px;
}



a {
    text-decoration: none; 
    color:rgb(199, 82, 214);
}

h4 {
    font-size: 20px;
}
